<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ev.cloud.db.mapper.RecyclBookMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ev.cloud.db.domain.RecyclBook">
        <result column="id" property="id"/>
        <result column="book_name" property="bookName"/>
        <result column="isbn" property="isbn"/>
        <result column="author" property="author"/>
        <result column="desc" property="desc"/>
        <result column="max_price" property="maxPrice"/>
        <result column="common_price" property="commonPrice"/>
        <result column="pic_url" property="picUrl"/>
        <result column="freight_id" property="freightId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `book_name`,
        `isbn`,
        `author`,
        `desc`,
        `max_price`,
        `common_price`,
        `pic_url`,
        `freight_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO recycl_book (
            `id`,
            `book_name`,
            `isbn`,
            `author`,
            `desc`,
            `max_price`,
            `common_price`,
            `pic_url`,
            `freight_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.bookName},
            #{pojo.isbn},
            #{pojo.author},
            #{pojo.desc},
            #{pojo.maxPrice},
            #{pojo.commonPrice},
            #{pojo.picUrl},
            #{pojo.freightId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO recycl_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.bookName!=null"> `book_name`,</if>
            <if test="pojo.isbn!=null"> `isbn`,</if>
            <if test="pojo.author!=null"> `author`,</if>
            <if test="pojo.desc!=null"> `desc`,</if>
            <if test="pojo.maxPrice!=null"> `max_price`,</if>
            <if test="pojo.commonPrice!=null"> `common_price`,</if>
            <if test="pojo.picUrl!=null"> `pic_url`,</if>
            <if test="pojo.freightId!=null"> `freight_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.bookName!=null">#{pojo.bookName},</if>
            <if test="pojo.isbn!=null">#{pojo.isbn},</if>
            <if test="pojo.author!=null">#{pojo.author},</if>
            <if test="pojo.desc!=null">#{pojo.desc},</if>
            <if test="pojo.maxPrice!=null">#{pojo.maxPrice},</if>
            <if test="pojo.commonPrice!=null">#{pojo.commonPrice},</if>
            <if test="pojo.picUrl!=null">#{pojo.picUrl},</if>
            <if test="pojo.freightId!=null">#{pojo.freightId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO recycl_book (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.bookName},
            #{pojo.isbn},
            #{pojo.author},
            #{pojo.desc},
            #{pojo.maxPrice},
            #{pojo.commonPrice},
            #{pojo.picUrl},
            #{pojo.freightId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE recycl_book
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.bookName != null"> `book_name` = #{pojo.bookName}, </if>
            <if test="pojo.isbn != null"> `isbn` = #{pojo.isbn}, </if>
            <if test="pojo.author != null"> `author` = #{pojo.author}, </if>
            <if test="pojo.desc != null"> `desc` = #{pojo.desc}, </if>
            <if test="pojo.maxPrice != null"> `max_price` = #{pojo.maxPrice}, </if>
            <if test="pojo.commonPrice != null"> `common_price` = #{pojo.commonPrice}, </if>
            <if test="pojo.picUrl != null"> `pic_url` = #{pojo.picUrl}, </if>
            <if test="pojo.freightId != null"> `freight_id` = #{pojo.freightId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2019-07-03 06:00:34-->
    <select id="findByisbn" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from recycl_book
        where `isbn`=#{isbn}
    </select>

<!--auto generated by codehelper on 2019-07-03 22:46:45-->
    <select id="findByid" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from recycl_book
        where `id`=#{id}
    </select>
</mapper>

